<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http auto-config="true">
    <csrf disabled="true"/>
    <intercept-url pattern="/adminLogin*" access="permitAll" />
		<intercept-url pattern="/resources/**" access="permitAll" />
        <intercept-url pattern="/" access="hasRole('ROLE_ADMIN')"/>
         <intercept-url pattern="/addMedia**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/adminPanel**" access="hasRole('ROLE_ADMIN')"/>
        <form-login login-page="/adminLogin" default-target-url="/adminPanel" login-processing-url="/j_spring_security_check" authentication-failure-url="/adminLogin?error" username-parameter="username" password-parameter="password"/>
        <logout logout-success-url="/adminLogin?logout" />
       
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="adminAuthenticator">
            <password-encoder hash="md5"></password-encoder>
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="adminAuthenticator" class="com.mindfire.marketplace.security.AdminAuthenticator"></beans:bean>

   
</beans:beans>